.root {

    -fx-base: #d0d0d0;
    -fx-color: -fx-base;


    -fx-box-border: ladder(
        -fx-color,
        black 20%,
        derive(-fx-color,-30%) 30%
    );


    -fx-body-color: linear-gradient(
        to bottom,
        derive(-fx-color,34%) 0%,
        derive(-fx-color,-18%) 100%
    );
    
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: none;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover {
    -fx-background-color: none;
}

.caspian-pane {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%, derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
        -fx-background-insets: 0, 0 1 1 1;
}

.selected-area{
    -fx-fill : rgba(118, 214, 255, 0.66);
    -fx-stroke: rgb(59,107,255);
    -fx-stroke-width: 1px;
}

.menu-bar {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
    -fx-spacing: 0.166667em; /* 2 */
    -fx-base: derive(#d0d0d0,-70%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,50%), derive(-fx-color,-30%)), -fx-body-color;
    -fx-background-insets: 0, 1 0 1 0;
    -fx-background-radius: 0, 0 ;
}

.default-color0.chart-bar { -fx-bar-fill: red }
.default-color1.chart-bar { -fx-bar-fill: green }
.default-color2.chart-bar { -fx-bar-fill: blue }
.default-color3.chart-bar { -fx-bar-fill: red }
.default-color4.chart-bar { -fx-bar-fill: green }
.default-color5.chart-bar { -fx-bar-fill: blue }